.cart {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  gap: 10px;
}

.cart_item_card {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  height: 200px;
  max-width: 400px;
}
.cart_product {
  display: flex;
  height: 70%;
  border-radius: 20px;
  overflow: hidden;
  background-color: #fff;
  padding-right: 20px;
  align-items: center;
}
.total {
  font-weight: bold;
  width: 10%;
}
.cart_product_details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 0 10px;
}
.cart_product_details p {
  font-weight: bold;
}
.cart_product_image {
  height: 100%;
  width: auto;
  max-width: 40%;
  min-width: 120px;
}
.cart_product_actions {
  display: flex;
  justify-content: space-around;
}

.empty_cart {
  text-align: center;
}
